API_BASE_URL=http://localhost:3000
AUTH_LOGIN=/auth/login
AUTH_REFRESH=/auth/refresh
SALESFORCE_VERIFY_LOAN=/salesforce/loan/verify
SALESFORCE_UPDATE_KYC=/salesforce/kyc/update
SALESFORCE_SAVE_QR=/salesforce/kyc/qr
FACE_MATCH=/face-match
MATCH_THRESHOLD=80
